@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Fragment Mono", monospace;
  display: flex;
  flex-direction: column;
  background: #f2eee9f4;
  background-image: url(images/grain.svg);
  color: #1c1d19;
}

.container {
  border: 1.5px solid #1c1d19;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  width: 450px;
  padding: 40px;
  margin: 20px 0;
  box-shadow: #1c1d193e 7px 7px;
}

h1 a {
  color: #1c1d19;
  text-decoration: none;
}

h2 {
  margin: 50px 0 10px;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style: none;
  margin: 12px 0;
}

li a {
  color: #1c1d19;
  text-decoration: none;
  position: relative;
}

li a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background: #1c1d19;
  transition: all 0.3s;
}

li a:hover:after {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 500px) {
  .container {
    border: none;
    width: 400px;
    box-shadow: none;
  }
}
